@import "tailwindcss";

:root {
  --background: #EDE8D0;
}

body {
  background: var(--background);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}